.hero_detail {
  .hero_detail_upper {
    text-align: center;
    padding-top: 40px;

    @media (max-width: 768px) {
      padding-top: 15px;
    }

    .iifl_logo {
      @media (max-width: 768px) {
        width: 171px;
        height: 30px;
      }
    }

    .desk_heading,
    .mobile_heading {
      margin: auto;
      margin-top: 50px;
      margin-bottom: 10px;
      width: 450px;
      font-family: Poppins;
      font-weight: 700;
      font-size: 32px;
      line-height: 42px;
      background: linear-gradient(91.96deg, #5f2eca 1.65%, #cd83f2 101.45%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: 768px) {
        display: none;
        margin-top: 25px;
        width: 100%;
        font-size: 28px;
        line-height: 36px;
      }
    }

    .mobile_heading {
      display: none;

      @media (max-width: 768px) {
        display: block;
      }
    }

    .hero_image {
      position: relative;
      width: fit-content;
      margin: auto;

      @media (max-width: 992px) {
        display: none;
      }

      .coin_img {
        position: absolute;
        right: -25px;
        bottom: 50px;
      }
    }

    .status_img {
      padding-top: 50px;

      @media (max-width: 1200px) {
        img {
          width: 400px;
          height: 400px;
        }
      }

      @media (max-width: 1100px) {
        img {
          width: 380px;
          height: 380px;
        }
      }

      @media (max-width: 992px) {
        display: none;
      }
    }
  }

  .gene_detail_wrap {
    @media (max-width: 992px) {
      display: none;
    }
  }
}


@media (max-width: 768px) {
  .hero_detail.hide {
    display: none;
  }
}